@import 'variables.scss';
@import 'mixins.scss';

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $theme-base-color;
}

.app {
    width: 100%;
    height: 100%;
    padding: 0 200px;
    box-sizing: border-box;
}

.app-header {
    width: 100%;
    height: 80px;
    padding: 15px 80px;
    box-sizing: border-box;
    border-bottom: 1px solid;
    p {
        color: $theme-logo-text-color;
        font-size: 20px;
    }
}

.app-sidebar {
    width: 275px;
    height: 100%;
    position: fixed;
    padding: 40px 20px;
    background-color: $theme-sb-background-color;
    top: 80px;
}


.sb-user-profile {
    width: 100%;
    text-align: center;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        @include sb-user-profile-animation;
        &:hover {
            transform: rotateY(180deg);
        }
    }
    .sb-user-name {
        @include sb-user-profile-fonts;
        font-size: 16px;
    }

    .sb-user-address {
        @include sb-user-profile-fonts;
        font-size: 14px;
    }
}

.sb-menu-items {
    ul {
        list-style: none;
        width: 100%;
        padding: 0px;
        li {
            font-size: 16px;
            color: $theme-sb-font-color;
            width: 100%;
            padding: 20px 30px;
            transition: all 0.3s ease;
            i {
                margin-right: 30px;
            }
            &:hover {
                cursor: pointer;
                @include sb-menu-item-hover;
            }
        }
        li.active {
            @include sb-menu-item-hover;
        }
    }
}